.action-btn {
  margin: 2px;
}

.dashboard-row {
  margin: 0px;
}

.dashboard-row * {
  margin: 2px;
}

.input-adjusted {
  margin-left: 20px;
}

.input-adjusted-80 {
  width: 90% !important;
}

.dx-accordion-item-close {
  height: 40px;
}

.dx-accordion-item-title * {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
